.container {
  width: min(1160px, calc(100% - 32px));
  margin: 0 auto;
}

.app-main {
  padding-bottom: 40px;
}

.feedback {
  margin: 32px auto;
  text-align: center;
  color: var(--color-text-secondary);
}

.feedback--error {
  color: #c52929;
}

@media (max-width: 768px) {
  .container {
    width: min(343px, calc(100% - 32px));
  }
}
