:root {
  --color-bg: #f4f4f4;
  --color-surface: #fdfdfd;
  --color-text-primary: #161616;
  --color-text-secondary: #595959;
  --color-text-muted: #9c9c9c;
  --color-text-disabled: #dadada;
  --color-accent: #22a0bc;
  --color-danger: #ef1c31;
  --color-brand: #333153;
  --color-border: #dadada;
  --color-success: #00a86b;
}
